/*Header*/

.header{
    align-items: center;
    padding: 20px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #d3d1d19d;
    box-sizing: border-box;
    border-bottom: 1px solid var(--color-boder);
    
}

.header__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}
.header__container_Icon{
    display: flex;
    flex-direction: row;
    
}
.header__container_Icon--img{
    height: 40px;
    width: 40px;
    margin-right: 5px;
}
.header__container_Icon--title{
    margin-top: 7px
}
.header__container_Search{
    display: flex ;
    height: 45px;
    width: 40%;
}
.header__container_Search i {
   margin-top: 7px;
   font-size: 1.5rem;
   margin-left: 10px;
}
 
.header__container_Search--input{
    padding: 0px 20px;
}
.header__container_Search--input :focus{
    border-color: #6565653a;
}


/*Body*/
.body{
    display: flex;
    /* position: relative; */
    height: 1000px;
}
.body__navbar{
    position: absolute;
    top: 70px;
    width: 10%;
    position: fixed;
    padding: 5px;
    border-right: 1px solid var(--color-boder);
}
.body__navbar__container{
    position: fixed;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    overflow-y: scroll smooth ;
    overflow-x: hidden;

}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffffc5;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6c636376;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #848484;
  }

  
.body__navbar__container__item{
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    width: 70%;
    height: 80px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body__navbar__container__item:hover {
    background: var(--color-boder);
}
.selected{
    background: var(--color-boder);
}
.body__navbar__container__item i {
    font-size: 2rem;
    color: var(--color-iconNabar);

}
.body__navbar__container__item span {
    color: var(--white-color);
    font-size: 1rem;
    margin-top: 7px;
    font-weight: 500;
}

.body__container{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    position: absolute;
    margin-left: 120px;
    left: 20px;
    width: 90%;
    height: 100%;
}


.body__container__introduce{
    margin-top: 20px ;
    position: relative;
    
}
.body__container__introduce--img{
    border-radius: 10px;
    margin: 0px 50px;
    height: 300px;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 10px var(--color-Shadow)
    /* background-position: top center; */
}

/**/
.body__container__introduce--img{
    width: 1200px;
    max-width: 100vw;
    height: 400px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.body__container__introduce--img .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.body__container__introduce--img .list img{
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.body__container__introduce--img .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.body__container__introduce--img .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.body__container__introduce--img .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.body__container__introduce--img .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.body__container__introduce--img .dots li.active{
    width: 30px;
}
@media screen and (max-width: 768px){
    .body__container__introduce--img{
        height: 400px;
    }
}
/**/
/* .body__container__introduce span {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 70px;
    left: 60px;
}
 */


.body_Wrapper{
    margin-top: 30px ;
    display: flex;
    flex-direction: column;
}

.body_Wrapper--title{
    margin-left: 50px;
    color: var(--white-color);
    
}

.body__container__Container_List{
    display: flex;
    flex-direction: row;
}
.body__container__Container_item{
    width: 20%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
}
.body__container__Container_item--img__wrapper{
    width:100%;
    height: 190px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 1px 1px 4px var(--color-Shadow);
    margin-bottom: 20px;
}
.body__container__Container_item--img{
    border-radius: 20px;
    width:100%;
    height: 190px;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s ease;
    
}
.body__container__Container_item--img:hover{
    transform: scale(1.1);
    box-shadow: 0 1px 20px 10px rgba(0, 0, 0, 0.05) ;
}
.body__container__Container_item--title{
   font-size: 1.2rem;
   color: var(--white-color);
} 




.Footer{
    border-radius: 20px;
    margin-left: 140px;
    margin-right: 10px;
    position: absolute;
    bottom: -1230px;
    background-color: rgba(230, 233, 233, 0.368);
    width: 90%;

}
.footer_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 90px;
}
.footer_header__item{
    display: flex;
    flex-direction: column;
    line-height: 10px;
}
.footer_header__item--title{
    font-size: 1.5rem;
    
}
.footer_header__item_p {
    font-size: 1rem;   
}

.footer_body{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0px 90px;
    padding-bottom: 20px;
}
.footer_body__title{
    font-size: 1.5rem;
}
.footer_body__Icon{
    display: flex;
    flex-direction: row;
}
.footer_body__Icon_item{
    font-size: 2rem;
    margin: 0px 10px;
    transition: 0.2s ease
}
.footer_body__Icon_item:hover {
    transform:  scale(1.1);
}
.fa-facebook{
    color: #0825ff;
}
.fa-facebook-messenger{
    color: linear-gradient(#1A6DFF, #C822FF, #6DC7FF );
}
.fa-tiktok{ 
    color: var(--white-color)
}
.fa-twitter{
    color: #27a3e0;
}
.fa-react{
    color: red;
}