@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans serif;
}
:root{
    --primary-Color : #f05123;
    --text-color: #333;
    --font-root : 'Poppins', sans serif;
    --white-color : #fff;
    --color-Shadow :#719ECE;
    --color-boder : #9492923a;
    --color-iconNabar : #b7b7b7;
    

}

html, body {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    height: 100%; 
    

}
body{ 
    background-image: url(Background.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.pageSelected{
    color: #0b78ec;
}
.btn{
    font-size: 0.9rem;
    background-color:var(--primary-Color);
    color: var(--white-color);
    padding: 0.8rem;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 10px var(--color-Shadow)

}
.btn:hover {
    background-color: var(--primary-Color);
    opacity: 0.86;
}

.title {
    font-size: 1.5rem;
    font-weight: 800;
}
.input{
    border-radius: 20px;
    width: 80%;
    height: 90%;
    border-color:var(--color-boder);
    box-shadow: 0 0 3px var(--color-Shadow);
    
}
input:focus { 
    outline: none ;
    border-color: #4949493a;
   
}
a{
    text-decoration: none;
}

/* .sperate {
    margin: 10px;
    content: "";
    border: 1px solid var(--color-boder);
    z-index: 1;
} */
