/*Header*/

.header{
    align-items: center;
    padding: 20px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #d3d1d19d;
    box-sizing: border-box;
    border-bottom: 1px solid var(--color-boder);
    
}

.header__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}
.header__container_Icon{
    display: flex;
    flex-direction: row;
    
}
.header__container_Icon--img{
    height: 40px;
    width: 40px;
    margin-right: 5px;
}
.header__container_Icon--title{
    margin-top: 7px
}
.header__container_Search{
    display: flex ;
    height: 45px;
    width: 40%;
}
.header__container_Search i {
   margin-top: 7px;
   font-size: 1.5rem;
   margin-left: 10px;
}
 
.header__container_Search--input{
    padding: 0px 20px;
}
.header__container_Search--input :focus{
    border-color: #6565653a;
}

.header__container_User{
    display: flex;
    align-items: center;
    position: relative;
 }
 .header__container_Cart{
     position: relative;
     margin-right: 50px;
     font-size: 1.5rem;
     color: var(--white-color);
 }
 .header__container_Cart--icon::after{
     content: '4';
     position: absolute;
     font-size: 0.7rem;
     color: var(--primary-Color);
     width: 10px;
     padding: 2px;
     height: 10px;
     border-radius: 50%;
     left: 20px;
     background-color:var(--color-Shadow);
     top: -5px;
 }
 
 .header__container_Access--image{
     border-radius: 50%;
     height: 50px;
     width: 50px;
     
 }
 .header__container_Access--image:hover .header__container_Access--description {
     box-shadow: 0 0 10px var(--color-Shadow);
     display: block;
 }
 .header__container_Access--description{
     display: none;
     position: absolute;
     top: 60px;
     right: 5px;
     width: 200px;
     height: 180px;
     background-color: rgba(122, 122, 122, 0.859);
     border-radius: 10px;
 }
 .header__container_Access--description::after{
     position: absolute;
     content: '';
     left: 170px;
     top: -10px;
     width: 0; 
     height: 0; 
     border-left: 10px solid transparent;
     border-right: 10px solid transparent;
     border-bottom: 10px solid rgba(122, 122, 122, 0.859);
 }
 .header__container_Access--description::before{
     position: absolute;
     content: '';
     left: 9px;
     top: -30px;
     width: 200px; 
     height: 30px; 
     background-color: transparent;
 }
 .header__container_Access--description--item{
     display: block;
     margin: 10px;
     border-bottom: 1px solid var(--white-color);
     font-size: 1rem;
     font-weight: 600;
 }
 .header__container_Access--description--item:hover{
     font-size: 1.1rem;
     cursor: pointer;
 }
/*Body*/
.body{
    display: flex;
    /* position: relative; */
    height: 1000px;
}
.body__navbar{
    position: absolute;
    top: 70px;
    width: 10%;
    position: fixed;
    padding: 5px;
    border-right: 1px solid var(--color-boder);
}
.body__navbar__container{
    position: fixed;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    overflow-y: scroll smooth ;
    overflow-x: hidden;

}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffffc5;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6c636376;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #848484;
  }

  
.body__navbar__container__item{
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    width: 70%;
    height: 80px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body__navbar__container__item:hover {
    background: var(--color-boder);
}
.selected{
    background: var(--color-boder);
}
.body__navbar__container__item i {
    font-size: 2rem;
    color: var(--color-iconNabar);

}
.body__navbar__container__item span {
    color: var(--white-color);
    font-size: 1rem;
    margin-top: 7px;
    font-weight: 500;
}

.body__container{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    position: absolute;
    margin-left: 120px;
    left: 20px;
    width: 90%;
    height: 100%;
}


.body__container__introduce{
    margin-top: 20px ;
    position: relative;
    
}
.body__container__introduce--img{
    border-radius: 10px;
    margin: 0px 50px;
    height: 300px;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 10px var(--color-Shadow)
    /* background-position: top center; */
}

/**/
.body__container__introduce--img{
    width: 1200px;
    max-width: 100vw;
    height: 400px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.body__container__introduce--img .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.body__container__introduce--img .list img{
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.body__container__introduce--img .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.body__container__introduce--img .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.body__container__introduce--img .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.body__container__introduce--img .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.body__container__introduce--img .dots li.active{
    width: 30px;
}
@media screen and (max-width: 768px){
    .body__container__introduce--img{
        height: 400px;
    }
}
/**/
/* .body__container__introduce span {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 70px;
    left: 60px;
}
 */


.body_Wrapper{
    margin-top: 30px ;
    display: flex;
    flex-direction: row;
    padding: 0 20px;

}
.body_Wrapper__Image{
    width: 35%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    height: 700px;
   
}
.body_Wrapper__Image__header{
    width: 70%;
    border-radius: 10px;
    margin: 0px 50px;
    height: 70%;
    background-size: cover; 
    /* background-repeat: no-repeat; */
    background-position: top;
    
}
.body_Wrapper__Image__header:hover{
    box-shadow: 0 0 10px var(--color-Shadow);
    transform: scale(1.01);
}
.body_Wrapper__Image__footer{
    margin: 10px 50px;
}
.body_Wrapper__Image__footer--title{
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 500;
}
.body_Wrapper__Image__footer--icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    font-weight: 300;
    color: var(--white-color);
}
.fa-brands{
    margin: 0 10px;
    cursor: pointer;
}
.fa-facebook{
    color: rgba(15, 160, 250, 0.839)
}
.fa-facebook-messenger{
    color: rgba(15, 129, 250, 0.839)
}
.fa-tiktok{
    color: rgba(27, 27, 27, 0.839)
}
.fa-instagram{
    color: rgba(245, 13, 13, 0.839)
}
.fa-brands:hover{
    transform: scale(1.2);
}
.body_Wrapper__Description{
    width: 65%;
    background-color: #a1a1a13e;
    border-radius: 10px;
    padding: 0 10px;
}

.body_Wrapper__Description__rate{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.body_Wrapper__Description__rate__star{
    font-size: 1rem;
    color: var(--white-color);
    position: relative;
}
.body_Wrapper__Description__rate--sperate{
    width: 2px;
    height: 20px;
    background-color: #454545d6;
    margin: 0 20px;
}
.fa-star{
    color: rgb(238, 255, 0);
}
.body_Wrapper__Description__rate--athour{
    font-size: 1.2rem;
    font-weight: 400;
}
.body_Wrapper__Description__style{
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 100%;
}
.body_Wrapper__Description__style__lits{
    display: flex;
    margin-left: 10px;
    width: 70%;
    
}
.body_Wrapper__Description__style__item{
    margin: 0 10px;
    width: 20%;
    display: flex;
    padding-left: 6px;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    box-sizing: border-box;
    border: 1px solid #010101;
    border-radius: 5px;
    cursor: pointer;

}
.body_Wrapper__Description__style__item:hover{
    border-color: #fff
}

.body_Wrapper__Description__status{
    display: flex;
    align-items: center;
}
.body_Wrapper__Description__status span {
    margin-left: 10px;
}







.body_Wrapper__Description__Content--text{
    padding: 0 10px;
    font-size: 1.1rem;
    font-weight: 500;


}












.Footer{

    height: 100%;
    position: fixed;
    background-color: #c5c3c29d;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 2;

}
.Footer__wrapper{
    background-color: #454545d6;
    width: 50%;
    z-index: 1;
}



.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.container{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.Close{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.Close__btn{
    padding: 10px;
    align-items: center;
    color: var(--white-color);
    font-size: 1.5rem;
    outline: none;
    border: none;
    background-color: transparent;
    box-shadow: none;
}
.Close__btn:hover{
    color:var(--primary-Color)
}


header{
    color: var(--white-color);
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
.top-header{
    position: relative;
}

.input-field{
    display: flex;
    flex-direction: column;
}
.input-field .input{
    margin: 10px 0px;
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 0 0 42px;
    background: rgba(96, 95, 95, 0.5);
}
.input-field i{
    position: relative;
    top: -31px;
    left: 17px;
    color: #fff;
}
::-webkit-input-placeholder{
    color: #fff;
}
.input-field__Create {
    margin-top: 10px;
    margin-bottom: 50px;
}
.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(255,255,255,0.7);
    cursor: pointer;
    transition: .3s;
}
.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    color: #fff;
    margin-top: 10px;
}
.left{
    display: flex;
}
label a{
    color: #fff;
    text-decoration: none;
}
